@font-face {
	font-family: champagne;
	src: url('../fonts/Champagne & Limousines Bold.ttf');
}

@font-face {
	font-family: hand;
	src: url('../fonts/angelina.ttf');
}

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #babac4;
	min-height: 100%;
	width: 100%;
	position: relative;
}

html {
	height: 100%;
}

.menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgb(50,50,60);
	text-align: center;
	z-index: 10;
}

.buttons {
	padding: 20px 20px;
}

.menuButton {
	font-family: champagne;
	padding: 7px 30px;
	background-color: rgb(50,50,60);
	outline: none;
	border-radius: 10px;
	font-size: 1em;
	margin: 0px 10px;
	cursor: pointer;
	-webkit-transition: background-color 0.2s, color 0.2s;
	-moz-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
	position: relative;
}

.menuButton.active {
	color: rgb(71,209,71);
	border: 2px solid rgb(71,209,71);
}

.menuButton.active:hover {
	background-color: rgb(71,209,71);
	color: rgb(50,50,60);
}

.menuButton.inactive {
	color: rgb(255,128,128);
	border: 2px solid rgb(255,128,128);
}

.menuButton.inactive:hover {
	background-color: rgb(255,128,128);
	color: rgb(50,50,60);
}

.colorfulLine {
	width: 100%;
	height: 5px;
}

.linePart {
	width: 10%;
	height: 100%;
	display: inline-block;
	float: left;
}

.linePart1 {
	background-color: #004466;
}

.linePart2 {
	background-color: #75a3a3;
}

.linePart3 {
	background-color: #2d8659;
}

.linePart4 {
	background-color: #99994d;
}

.linePart5 {
	background-color: #990000;
}

.linePart6 {
	background-color: #bf4040;
}

.linePart7 {
	background-color: #c6538c;
}

.linePart8 {
	background-color: #ffccef;
}

.linePart9 {
	background-color: #6666ff;
}

.linePart10 {
	background-color: #000033;
}

.contentArea {
	position: relative;
	padding: 100px 0px;
	position: relative;
}

.oneGame{
	width: 28.33%;
	height: auto;
	margin: 2.5%;
	background-color: rgba(255,255,255,0.6);
	position: relative;
	padding: 10px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.oneGame.visible {
	display: inline-block;
}

.oneGame.hidden {
	display: none;
}

.oneGame:hover {
	transform: scale(1.1);
}

.oneGame .image img {
	width: 100%;
}

.details {
	margin-top: 10px;
	font-size: 1.5em;
	color: rgb(50,50,60);
	text-align: center;
	font-family: hand;
}

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: rgb(50,50,60);
	color: white;
	font-family: champagne;
}

.footerContent {
	padding: 10px 20px 10px 20px;
	font-size: 1em;
	color: rgba(255,255,255,0.6);
	text-align: center;
}

.footerContent img {
	height: 40px;
	margin: 5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.footerContent img:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
}