@media (max-width: 800px){
	.buttons {
		padding: 20px 10px;
	}

	.menuButton {
		margin: 5px 5px;
		font-size: 0.8em
	}

	.footerContent {
		padding: 10px 0px;
	}

	.contentArea {
		text-align: center;
		padding: 20px 0px 90px 0px;
	}

	.oneGame {
		width: 80%;
		margin: 20px 0px;
	}

	.menu {
		position: relative;
	}

	.footerContent img {
		height: 30px;
	}
}