@font-face {
	font-family: title;
	src: url('../fonts/BebasKai-Regular.otf');
}

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background-color: rgba(200, 200, 200, 1);
}

.topLine {
	width: 100%;
	height: 5px;
	background-color: rgba(64, 64, 64, 1);
}

.cont {
	width: 100%;
	padding: 20px 0px;
}

.imgCont {
	width: 25%;
	padding: 15px;
	display: inline-block;
	cursor: pointer;
	position: relative;
}

.realCont {
	width: 100%;
	position: relative;
	overflow: hidden;
	font-family: title;
	font-size: 0.8em;
}

.realCont img {
	width: 100%;
}

.divImgData {
	position: absolute;
	bottom: 10px;
	left: -100%;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	overflow: hidden;
	padding: 5px 10px;
	width: 100%;
	-webkit-transition: left 0.2s;
	-moz-transition: left 0.2s;
	transition: left 0.2s;
}

.imgCont:hover .divImgData {
	left: 0px;
}

.clickedImageCont {
	width: 100%;
	height: 400px;
	background-color: rgba(60, 60, 60, 1);
}

.clickedImageCont .left {
	width: 40%;
	display: inline-block;
	float: left;
	height: 100%;
	color: rgb(200,200,200);
	font-family: title;
	line-height: 400px;
	font-size: 3em;
	text-align: center;
} 

.clickedImageCont .right {
	width: 60%;
	height: 100%;
	display: inline-block;
	padding: 40px;
	float: left;
	text-align: center;
}

.clickedImageCont .right img {
	height: 100%;
}

@media(max-width: 1024px) {
	.imgCont {
		width: 33%;
	}

	.clickedImageCont {
		height: 300px;
	}

	.clickedImageCont .left {
		font-size: 2em;
		line-height: 300px;
	}
}

@media(max-width: 768px) {
	.imgCont {
		width: 50%;
	}

	.clickedImageCont {
		height: auto;
		padding: 40px 0px 20px 0px;
	}

	.clickedImageCont .left {
		display: block;
		width: 100%;
		height: auto;
		line-height: 1em;
		float: none;
	}

	.clickedImageCont .right {
		display: block;
		width: 100%;
		float: none;
	}

	.clickedImageCont .right img {
		width: 80%;
	}
}

@media(max-width: 480px) {
	.imgCont {
		width: 100%;
	}

	.clickedImageCont .right img {
		width: 100%;
	}
}