@font-face {
	font-family: champagne;
	src: url('../fonts/Gin–≤ra Sans Semi Bold.otf');
}

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.left {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 300px;
	background-color: rgb(64,64,64);
}

.back {
	font-family: champagne;
	padding: 10px 30px;
	background-color: rgba(0,0,0,0.2);
	color: rgb(150,150,150);
	cursor: pointer;
}

.menuContainer {
	padding: 30px 20px;
	font-family: champagne;
	font-size: 1.2em;
}

.shownMenu {
	display: block;
}

.hiddenMenu {
	display: none;
}

.menu {
	list-style-type: none;
}

.menuItem {
	margin-bottom: 10px;
	display: block;
	cursor: pointer;
	color: rgb(170,170,170);
	padding: 10px;
}

.menuItem.active {
	background-color: rgba(0,0,0,0.3);
	color: rgb(210,210,210);
}

li:hover {
	color: rgb(240,240,240);
}

li .listEllipsis {
	float: right;
}

.logo {
	font-family: champagne;
	color: rgb(130,130,130);
	font-size: 1.5em;
	text-align: center;
	padding: 30px 0px;
}

.logoImg {
	width: 50px;
	margin-bottom: 10px;
}

.right {
	width: calc(100% - 300px);
	background-color: rgb(230,230,230);
	position: fixed;
	left: 300px;
	top: 0px;
	bottom: 0px;
	overflow-y: auto;
}

.content {
	text-align: center;
	padding: 5% 0px;
}

.content.hidden {
	display: none;
}

.contentHead {
	width: 80%;
	background-color: rgb(151,151,151);
	height: 100px;
	display: inline-block;
	margin-bottom: 50px;
}

.contentDiv {
	display: inline-block;
	height: 30px;
	background-color: rgb(200,200,200);
	width: 37%;
	margin-right: 2%;
	margin-bottom: 10px;
	border-radius: 5px;
}

.contentDiv.noMargin {
	margin-right: 0px;
}

.contentDiv.fullContentDiv {
	width: 80%;
	height: 50px;
	background-color: rgb(180,180,180);
	margin-top: 20px;
	margin-bottom: 30px;
}